## Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

# IPython.core.interactiveshell for show all output not only show the last output but also all value from every command.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

sns.set()

In [2]:
data=pd.read_csv("House_Price.csv")
data.head()
data.drop(['css-11nfaq3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7'], axis=1, inplace=True)
data

,Flat_Price,EMI_Starts,BHK,css-11nfaq3,Unnamed: 4,HOUSE_TYPE,Unnamed: 6,Unnamed: 7,Purpose,Location,Area_Type,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
0,₹8.5 Cr,₹4.22 Lacs,6 BHK,6.0,BHK,Independent House,Independent,House,for sale in,"Ballygunge, Kolkata",Build Up Area,4200 sq.ft,₹20.24 K/sq.ft,Abhijit Chakraborty,Housing Expert
1,₹45.0 L,₹23.83 K,3 BHK,3.0,BHK,Independent House,Independent,House,for sale in,"Barrackpore, Kolkata",Build Up Area,1400 sq.ft,₹3.21 K/sq.ft,Virtual Reality,Housing Expert
2,₹1.35 Cr,₹67.02 K,3 BHK,3.0,BHK,Independent House,Independent,House,for sale in,"Santoshpur, Kolkata",Build Up Area,2500 sq.ft,₹5.40 K/sq.ft,AveNew Properties,Housing Expert
3,₹60.0 L,₹31.77 K,5 BHK,5.0,BHK,Independent House,Independent,House,for sale in,"Sarsuna, Kolkata",Build Up Area,1100 sq.ft,₹5.45 K/sq.ft,Ganapati Real Estate,Housing Expert
4,₹52.0 L,₹27.54 K,4 BHK,4.0,BHK,Independent House,Independent,House,for sale in,"Madhyamgram, Kolkata",Build Up Area,900 sq.ft,₹5.78 K/sq.ft,Third Eye Consulting,Housing Expert

,Flat_Price,EMI_Starts,BHK,HOUSE_TYPE,Purpose,Location,Area_Type,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
0,₹8.5 Cr,₹4.22 Lacs,6 BHK,Independent House,for sale in,"Ballygunge, Kolkata",Build Up Area,4200 sq.ft,₹20.24 K/sq.ft,Abhijit Chakraborty,Housing Expert
1,₹45.0 L,₹23.83 K,3 BHK,Independent House,for sale in,"Barrackpore, Kolkata",Build Up Area,1400 sq.ft,₹3.21 K/sq.ft,Virtual Reality,Housing Expert
2,₹1.35 Cr,₹67.02 K,3 BHK,Independent House,for sale in,"Santoshpur, Kolkata",Build Up Area,2500 sq.ft,₹5.40 K/sq.ft,AveNew Properties,Housing Expert
3,₹60.0 L,₹31.77 K,5 BHK,Independent House,for sale in,"Sarsuna, Kolkata",Build Up Area,1100 sq.ft,₹5.45 K/sq.ft,Ganapati Real Estate,Housing Expert
4,₹52.0 L,₹27.54 K,4 BHK,Independent House,for sale in,"Madhyamgram, Kolkata",Build Up Area,900 sq.ft,₹5.78 K/sq.ft,Third Eye Consulting,Housing Expert
...,...,...,...,...,...,...,...,...,...,...,...
3963,₹13.0 L,₹6.88 K,2 BHK,Independent House,for sale in,"Picnic Garden, Kolkata",Build Up Area,1500 sq.ft,₹866/sq.ft,Goutam Dey,Owner
3964,₹1.5 Cr,₹74.47 K,8 BHK,Independent House,for sale in,"Rajpur Sonarpur, Kolkata",Build Up Area,2560 sq.ft,₹5.86 K/sq.ft,Alak Kumar Roy,Owner
3965,₹50.0 L,₹26.48 K,5 BHK,Independent House,for sale in,"Amtala, Kolkata",Build Up Area,1900 sq.ft,₹2.63 K/sq.ft,Sarishma,Owner
3966,₹1.1 Cr,₹54.61 K,5 BHK,Independent House,for sale in,"Tollygunge, Kolkata",Build Up Area,2600 sq.ft,₹4.23 K/sq.ft,MEDIATOR REALTORS,Agent
3967,₹30.0 L,₹15.89 K,2 BHK,Independent House,for sale in,"Naihati, Kolkata",Build Up Area,950 sq.ft,₹3.16 K/sq.ft,S Mukherjee,Owner

## Cleaning and getting data ready for preprocessing

In [3]:
# data.drop(['css-11nfaq3', 'Unnamed: 4', 'Unnamed: 6', 'Unnamed: 7'], axis=1, inplace=True)
data

,Flat_Price,EMI_Starts,BHK,HOUSE_TYPE,Purpose,Location,Area_Type,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
0,₹8.5 Cr,₹4.22 Lacs,6 BHK,Independent House,for sale in,"Ballygunge, Kolkata",Build Up Area,4200 sq.ft,₹20.24 K/sq.ft,Abhijit Chakraborty,Housing Expert
1,₹45.0 L,₹23.83 K,3 BHK,Independent House,for sale in,"Barrackpore, Kolkata",Build Up Area,1400 sq.ft,₹3.21 K/sq.ft,Virtual Reality,Housing Expert
2,₹1.35 Cr,₹67.02 K,3 BHK,Independent House,for sale in,"Santoshpur, Kolkata",Build Up Area,2500 sq.ft,₹5.40 K/sq.ft,AveNew Properties,Housing Expert
3,₹60.0 L,₹31.77 K,5 BHK,Independent House,for sale in,"Sarsuna, Kolkata",Build Up Area,1100 sq.ft,₹5.45 K/sq.ft,Ganapati Real Estate,Housing Expert
4,₹52.0 L,₹27.54 K,4 BHK,Independent House,for sale in,"Madhyamgram, Kolkata",Build Up Area,900 sq.ft,₹5.78 K/sq.ft,Third Eye Consulting,Housing Expert
...,...,...,...,...,...,...,...,...,...,...,...
3963,₹13.0 L,₹6.88 K,2 BHK,Independent House,for sale in,"Picnic Garden, Kolkata",Build Up Area,1500 sq.ft,₹866/sq.ft,Goutam Dey,Owner
3964,₹1.5 Cr,₹74.47 K,8 BHK,Independent House,for sale in,"Rajpur Sonarpur, Kolkata",Build Up Area,2560 sq.ft,₹5.86 K/sq.ft,Alak Kumar Roy,Owner
3965,₹50.0 L,₹26.48 K,5 BHK,Independent House,for sale in,"Amtala, Kolkata",Build Up Area,1900 sq.ft,₹2.63 K/sq.ft,Sarishma,Owner
3966,₹1.1 Cr,₹54.61 K,5 BHK,Independent House,for sale in,"Tollygunge, Kolkata",Build Up Area,2600 sq.ft,₹4.23 K/sq.ft,MEDIATOR REALTORS,Agent
3967,₹30.0 L,₹15.89 K,2 BHK,Independent House,for sale in,"Naihati, Kolkata",Build Up Area,950 sq.ft,₹3.16 K/sq.ft,S Mukherjee,Owner

In [4]:
house_data=data
house_data

,Flat_Price,EMI_Starts,BHK,HOUSE_TYPE,Purpose,Location,Area_Type,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
0,₹8.5 Cr,₹4.22 Lacs,6 BHK,Independent House,for sale in,"Ballygunge, Kolkata",Build Up Area,4200 sq.ft,₹20.24 K/sq.ft,Abhijit Chakraborty,Housing Expert
1,₹45.0 L,₹23.83 K,3 BHK,Independent House,for sale in,"Barrackpore, Kolkata",Build Up Area,1400 sq.ft,₹3.21 K/sq.ft,Virtual Reality,Housing Expert
2,₹1.35 Cr,₹67.02 K,3 BHK,Independent House,for sale in,"Santoshpur, Kolkata",Build Up Area,2500 sq.ft,₹5.40 K/sq.ft,AveNew Properties,Housing Expert
3,₹60.0 L,₹31.77 K,5 BHK,Independent House,for sale in,"Sarsuna, Kolkata",Build Up Area,1100 sq.ft,₹5.45 K/sq.ft,Ganapati Real Estate,Housing Expert
4,₹52.0 L,₹27.54 K,4 BHK,Independent House,for sale in,"Madhyamgram, Kolkata",Build Up Area,900 sq.ft,₹5.78 K/sq.ft,Third Eye Consulting,Housing Expert
...,...,...,...,...,...,...,...,...,...,...,...
3963,₹13.0 L,₹6.88 K,2 BHK,Independent House,for sale in,"Picnic Garden, Kolkata",Build Up Area,1500 sq.ft,₹866/sq.ft,Goutam Dey,Owner
3964,₹1.5 Cr,₹74.47 K,8 BHK,Independent House,for sale in,"Rajpur Sonarpur, Kolkata",Build Up Area,2560 sq.ft,₹5.86 K/sq.ft,Alak Kumar Roy,Owner
3965,₹50.0 L,₹26.48 K,5 BHK,Independent House,for sale in,"Amtala, Kolkata",Build Up Area,1900 sq.ft,₹2.63 K/sq.ft,Sarishma,Owner
3966,₹1.1 Cr,₹54.61 K,5 BHK,Independent House,for sale in,"Tollygunge, Kolkata",Build Up Area,2600 sq.ft,₹4.23 K/sq.ft,MEDIATOR REALTORS,Agent
3967,₹30.0 L,₹15.89 K,2 BHK,Independent House,for sale in,"Naihati, Kolkata",Build Up Area,950 sq.ft,₹3.16 K/sq.ft,S Mukherjee,Owner

In [5]:
print('Unique values of Area_Type: ')
house_data['Area_Type'].unique()

print('Unique values of HOUSE_TYPE: ')
house_data['HOUSE_TYPE'].unique()

print('Unique values of Purpose: ')
house_data['Purpose'].unique()

print('Unique values of Owner_type: ')
house_data['Owner_type'].unique()

Unique values of Area_Type:

array(['Build Up Area', 'Possession Starts'], dtype=object)

Unique values of HOUSE_TYPE:

array(['Independent House', ' '], dtype=object)

Unique values of Purpose:

array(['for sale in', nan], dtype=object)

Unique values of Owner_type:

array(['Housing Expert', 'Housing Prime Agent', 'Verified Owner',
       'Seller', 'Owner', 'Agent'], dtype=object)

In [6]:
print('Count Grouped By Area_Type: ')
house_data.groupby('Area_Type').size()

print('Count Grouped By HOUSE_TYPE: ')
house_data.groupby('HOUSE_TYPE').size()

print('Count Grouped By Purpose: ')
house_data.groupby('Purpose').size()

Count Grouped By Area_Type:

Area_Type
Build Up Area        3966
Possession Starts       2
dtype: int64

Count Grouped By HOUSE_TYPE:

HOUSE_TYPE
                        2
Independent House    3966
dtype: int64

Count Grouped By Purpose:

Purpose
for sale in    3966
dtype: int64

In [7]:
house_data.describe(include="all")

,Flat_Price,EMI_Starts,BHK,HOUSE_TYPE,Purpose,Location,Area_Type,Total_Sq.ft,Price_per_sq.ft,Owner_name,Owner_type
count,3968,3968,3968,3968,3966,3966,3968,3968,3968,3958,3968
unique,283,280,19,2,1,201,2,410,720,1209,6
top,₹1.5 Cr,₹39.72 K,3 BHK,Independent House,for sale in,"Salt Lake City, Kolkata",Build Up Area,3000 sq.ft,₹5.00 K/sq.ft,Avijit Chakraborty,Owner
freq,140,205,706,3966,3966,194,3966,222,94,144,2093

In [8]:
# Drop columns Area_Type, HOUSE_TYPE, Purpose (As all values are same except 2 and that won't affect prediction)
# DataFrame.drop() if inplace=false,return a copy.Otherwise, do operation inplace ansd return None.
house_data.drop(['Area_Type', 'HOUSE_TYPE', 'Purpose', 'Owner_name'], axis=1, inplace=True)
house_data.head()

,Flat_Price,EMI_Starts,BHK,Location,Total_Sq.ft,Price_per_sq.ft,Owner_type
0,₹8.5 Cr,₹4.22 Lacs,6 BHK,"Ballygunge, Kolkata",4200 sq.ft,₹20.24 K/sq.ft,Housing Expert
1,₹45.0 L,₹23.83 K,3 BHK,"Barrackpore, Kolkata",1400 sq.ft,₹3.21 K/sq.ft,Housing Expert
2,₹1.35 Cr,₹67.02 K,3 BHK,"Santoshpur, Kolkata",2500 sq.ft,₹5.40 K/sq.ft,Housing Expert
3,₹60.0 L,₹31.77 K,5 BHK,"Sarsuna, Kolkata",1100 sq.ft,₹5.45 K/sq.ft,Housing Expert
4,₹52.0 L,₹27.54 K,4 BHK,"Madhyamgram, Kolkata",900 sq.ft,₹5.78 K/sq.ft,Housing Expert

In [9]:
# Trimming /sq.ft from right of Price_per_sq.ft and sq.ft from right of Total_Sq.ft
# rstrip : string method สำหรับตัวอักขระต่อท้ายของ string
house_data["Price_per_sq.ft"] = house_data.apply(lambda x: x["Price_per_sq.ft"].rstrip("/sq.ft"), axis = 1)
house_data["Total_Sq.ft"] = house_data.apply(lambda x: x["Total_Sq.ft"].rstrip(" sq.ft"), axis = 1)

# Trimming ₹ from left of Flat_Price, EMI_Starts, Price_per_sq.ft
house_data["Flat_Price"] = house_data.apply(lambda x: x["Flat_Price"].lstrip("₹"), axis = 1)
house_data["EMI_Starts"] = house_data.apply(lambda x: x["EMI_Starts"].lstrip("₹"), axis = 1)
house_data["Price_per_sq.ft"] = house_data.apply(lambda x: x["Price_per_sq.ft"].lstrip("₹"), axis = 1)

house_data.head(10)

,Flat_Price,EMI_Starts,BHK,Location,Total_Sq.ft,Price_per_sq.ft,Owner_type
0,8.5 Cr,4.22 Lacs,6 BHK,"Ballygunge, Kolkata",4200,20.24 K,Housing Expert
1,45.0 L,23.83 K,3 BHK,"Barrackpore, Kolkata",1400,3.21 K,Housing Expert
2,1.35 Cr,67.02 K,3 BHK,"Santoshpur, Kolkata",2500,5.40 K,Housing Expert
3,60.0 L,31.77 K,5 BHK,"Sarsuna, Kolkata",1100,5.45 K,Housing Expert
4,52.0 L,27.54 K,4 BHK,"Madhyamgram, Kolkata",900,5.78 K,Housing Expert
5,32.0 L,16.95 K,3 BHK,"Thakurpukur, Kolkata",1200,2.67 K,Housing Expert
6,69.3 L,36.70 K,3 BHK,"Rajpur, Kolkata",2310,3.00 K,Housing Expert
7,40.0 L,21.18 K,2 BHK,"North Dum Dum, Kolkata",1170,3.42 K,Housing Expert
8,95.0 L,47.16 K,4 BHK,"Dhakuria, Kolkata",1862,5.10 K,Housing Expert
9,3.0 Cr,1.49 Lacs,9 BHK,"Shyambazar, Kolkata",4200,7.14 K,Housing Expert

In [13]:
# Checking unique values after space in below columns and comma(,) for Location
# DataFrame.str.split(' ',1,expand=True); 
house_data['Flat_Price'].str.split(' ',1, expand=True)[1].unique()
house_data['EMI_Starts'].str.split(' ', 1, expand=True)[1].unique()
house_data['Price_per_sq.ft'].str.split(' ', 1, expand=True)[1].unique()
house_data['Location'].str.split(',', 1, expand=True)[1].unique()
house_data['BHK'].str.split(' ', 1, expand=True)[1].unique()

array(['Cr', 'L', 'L - 1.03 Cr'], dtype=object)

array(['Lacs', 'K', None], dtype=object)

array(['K', None], dtype=object)

array([' Kolkata', nan, None, ''], dtype=object)

array(['BHK', '', 'RK', 'BH'], dtype=object)

In [14]:
# Splitting Location into Region and City and then dropping City column as it contains only Kolkata value and also Location column

house_data[['Region', 'City']] = house_data['Location'].str.split(', ', 1, expand=True)
house_data.drop(['City', 'Location'], axis=1, inplace=True)

# Splitting BHK into Rooms and BHK_type and then dropping BHK column
house_data[['Rooms', 'BHK_type']] = house_data['BHK'].str.split(' ', 1, expand=True)
house_data.drop(['BHK'], axis=1, inplace=True)

house_data.head()

,Flat_Price,EMI_Starts,Total_Sq.ft,Price_per_sq.ft,Owner_type,Region,Rooms,BHK_type
0,8.5 Cr,4.22 Lacs,4200,20.24 K,Housing Expert,Ballygunge,6,BHK
1,45.0 L,23.83 K,1400,3.21 K,Housing Expert,Barrackpore,3,BHK
2,1.35 Cr,67.02 K,2500,5.40 K,Housing Expert,Santoshpur,3,BHK
3,60.0 L,31.77 K,1100,5.45 K,Housing Expert,Sarsuna,5,BHK
4,52.0 L,27.54 K,900,5.78 K,Housing Expert,Madhyamgram,4,BHK

In [15]:
# Getting the unexpected value rows for Flat_Price
house_data[(house_data['Flat_Price'].str.split(' ', 1, expand=True)[1] == 'L - 1.03 Cr')]

,Flat_Price,EMI_Starts,Total_Sq.ft,Price_per_sq.ft,Owner_type,Region,Rooms,BHK_type
148,99.83 L - 1.03 Cr,49.56 K,"Jan, 2024",4.50 K,Seller,NaN,,
168,99.83 L - 1.03 Cr,49.56 K,"Jan, 2024",4.50 K,Seller,NaN,,

In [16]:
# Dropping rows 148 and 168 as almost many values are Null
house_data = house_data.drop([148, 168], axis=0)

In [17]:
# Method to convert Flat_Price, EMI_Starts, Price_per_sq.ft to integers
def convert_price_to_integer(row_value):
    splitted_row_value = row_value.split(" ")
    amount = float(splitted_row_value[0])
    if len(splitted_row_value) == 2:
        unit = splitted_row_value[1]
        if unit == 'K':
            return 1000*float(amount)
        elif unit == 'L' or unit == 'Lacs':
            return 100000*float(amount)
        elif unit == 'Cr':
            return 10000000*float(amount)
    else:
        return int(amount)
    
house_data["Price_per_sq.ft"] = house_data.apply(lambda x: convert_price_to_integer(x["Price_per_sq.ft"]), axis = 1)
house_data["Flat_Price"] = house_data.apply(lambda x: convert_price_to_integer(x["Flat_Price"]), axis = 1)
house_data["EMI_Starts"] = house_data.apply(lambda x: convert_price_to_integer(x["EMI_Starts"]), axis = 1)

house_data["Total_Sq.ft"] = house_data.apply(lambda x: (float(x["Total_Sq.ft"])), axis = 1)
house_data["Rooms"] = house_data.apply(lambda x: (float(x["Rooms"])), axis = 1)

house_data.head()

,Flat_Price,EMI_Starts,Total_Sq.ft,Price_per_sq.ft,Owner_type,Region,Rooms,BHK_type
0,85000000.0,422000.0,4200.0,20240.0,Housing Expert,Ballygunge,6.0,BHK
1,4500000.0,23830.0,1400.0,3210.0,Housing Expert,Barrackpore,3.0,BHK
2,13500000.0,67020.0,2500.0,5400.0,Housing Expert,Santoshpur,3.0,BHK
3,6000000.0,31770.0,1100.0,5450.0,Housing Expert,Sarsuna,5.0,BHK
4,5200000.0,27540.0,900.0,5780.0,Housing Expert,Madhyamgram,4.0,BHK

In [18]:
# Converting Owner_type, Region and BHK_type to integer values
owner_types = house_data["Owner_type"].unique().tolist()
house_data["Owner_type"] = [owner_types.index(value) for value in house_data["Owner_type"].to_list()]

regions = house_data["Region"].unique().tolist()
house_data["Region"] = [regions.index(value) for value in house_data["Region"].to_list()]

BHK_types = house_data["BHK_type"].unique().tolist()
house_data["BHK_type"] = [BHK_types.index(value) for value in house_data["BHK_type"].to_list()]

house_data.head()

,Flat_Price,EMI_Starts,Total_Sq.ft,Price_per_sq.ft,Owner_type,Region,Rooms,BHK_type
0,85000000.0,422000.0,4200.0,20240.0,0,0,6.0,0
1,4500000.0,23830.0,1400.0,3210.0,0,1,3.0,0
2,13500000.0,67020.0,2500.0,5400.0,0,2,3.0,0
3,6000000.0,31770.0,1100.0,5450.0,0,3,5.0,0
4,5200000.0,27540.0,900.0,5780.0,0,4,4.0,0

In [19]:
house_data.tail()

,Flat_Price,EMI_Starts,Total_Sq.ft,Price_per_sq.ft,Owner_type,Region,Rooms,BHK_type
3963,1300000.0,6880.0,1500.0,866.0,3,68,2.0,0
3964,15000000.0,74470.0,2560.0,5860.0,3,26,8.0,0
3965,5000000.0,26480.0,1900.0,2630.0,3,23,5.0,0
3966,11000000.0,54610.0,2600.0,4230.0,4,39,5.0,0
3967,3000000.0,15890.0,950.0,3160.0,3,21,2.0,0

In [20]:
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [21]:
# y -> dependent variable
X = house_data.drop("EMI_Starts", axis = 1)
y = house_data["EMI_Starts"]
X.head()
y.head()

,Flat_Price,Total_Sq.ft,Price_per_sq.ft,Owner_type,Region,Rooms,BHK_type
0,85000000.0,4200.0,20240.0,0,0,6.0,0
1,4500000.0,1400.0,3210.0,0,1,3.0,0
2,13500000.0,2500.0,5400.0,0,2,3.0,0
3,6000000.0,1100.0,5450.0,0,3,5.0,0
4,5200000.0,900.0,5780.0,0,4,4.0,0

0    422000.0
1     23830.0
2     67020.0
3     31770.0
4     27540.0
Name: EMI_Starts, dtype: float64

In [22]:
# Split dataset into training set and test set
# test_sizefloat or int, default=None
# If float, should be between 0.0 and 1.0 and represent the proportion of the dataset to include in the test split. 
# If int, represents the absolute number of test samples. 
# If None, the value is set to the complement of the train size. If train_size is also None, it will be set to 0.25.

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0, shuffle = True) # 80% training and 20% test

In [23]:
# Method for checking regression model performances
def performance_check(prediction):
    print("Mean Square Error: {}\nMean Absolute Error: {}\nR2 Score: {}\n"
          .format(metrics.mean_squared_error(y_test, prediction), 
                  metrics.mean_absolute_error(y_test, prediction),
                  metrics.r2_score(y_test, prediction)))

## Linear Regression

In [24]:
# importing module
from sklearn.linear_model import LinearRegression

# creating an object
linearRegression = LinearRegression()

# fitting the training data
linearRegression.fit(x_train,y_train)

# Predict EMI on test values
y_prediction =  linearRegression.predict(x_test)

performance_check(y_prediction)

LinearRegression()

Mean Square Error: 598567.5692884068
Mean Absolute Error: 649.1762746105233
R2 Score: 0.9999810664197232

## Polynomial Regression

In [25]:
# importing module
from sklearn.preprocessing import PolynomialFeatures

# creating an object
poly = PolynomialFeatures(degree = 4)
x_train_poly = poly.fit_transform(x_train)
x_test_poly = poly.transform(x_test)
linearRegression = LinearRegression()

# fitting the training data
linearRegression.fit(x_train_poly,y_train)

# Predict EMI on test values
y_prediction =  linearRegression.predict(x_test_poly)

performance_check(y_prediction)

LinearRegression()

Mean Square Error: 980162111.5441779
Mean Absolute Error: 21509.37313334355
R2 Score: 0.9689960182018282

## Ridge Regression

In [26]:
# importing module
from sklearn.linear_model import Ridge

# creating an object
ridgeRegression = Ridge(alpha=1.0)

# fitting the training data
ridgeRegression.fit(x_train, y_train)

# Predict EMI on test values
y_prediction =  ridgeRegression.predict(x_test)

performance_check(y_prediction)

C:\Users\Keangkai\anaconda3\lib\site-packages\sklearn\linear_model\_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=9.88444e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

Ridge()

Mean Square Error: 598532.3573064312
Mean Absolute Error: 649.172589376702
R2 Score: 0.9999810675335304

## Lasso Regression

In [27]:
# importing module
from sklearn.linear_model import Lasso

# creating an object
lassoRegression = Lasso(alpha=1.0)

# fitting the training data
lassoRegression.fit(x_train, y_train)

# Predict EMI on test values
y_prediction =  lassoRegression.predict(x_test)

performance_check(y_prediction)

Lasso()

Mean Square Error: 598042.9018265205
Mean Absolute Error: 649.1011596572432
R2 Score: 0.9999810830157334

## Decision Tree Regreesion

In [28]:
# importing module
from sklearn.tree import DecisionTreeRegressor

# creating an object of LinearRegression class
DTR = DecisionTreeRegressor()

# fitting the training data
DTR.fit(x_train,y_train)

# Predict EMI on test values
y_prediction =  DTR.predict(x_test)

performance_check(y_prediction)

DecisionTreeRegressor()

Mean Square Error: 6474498.4886649875
Mean Absolute Error: 168.2115869017634
R2 Score: 0.9997952020069633

## Support Vector Regreesion

In [29]:
# importing module
from sklearn.svm import SVR
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

# creating an object of LinearRegression class
SVR = make_pipeline(StandardScaler(), SVR(C=1.0, epsilon=0.2))

# fitting the training data
SVR.fit(x_train,y_train)
# Pipeline(steps=[('standardscaler', StandardScaler()),
#                 ('svr', SVR(epsilon=0.2))])

# Predict EMI on test values
y_prediction =  SVR.predict(x_test)

performance_check(y_prediction)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('svr', SVR(epsilon=0.2))])

Mean Square Error: 34116565737.171894
Mean Absolute Error: 65634.7400192922
R2 Score: -0.07915759104889064

## Elastic Net Regreesion

In [30]:
# importing module
from sklearn.linear_model import ElasticNet

# creating an object
elasticNet = ElasticNet(alpha=1.0, l1_ratio=0.5)

# fitting the training data
elasticNet.fit(x_train, y_train)

# Predict EMI on test values
y_prediction =  elasticNet.predict(x_test)

performance_check(y_prediction)

ElasticNet()

Mean Square Error: 593755.3862103164
Mean Absolute Error: 649.3375473620795
R2 Score: 0.9999812186362135

In [31]:
from sklearn.preprocessing import scale
from sklearn.model_selection import RepeatedKFold
from sklearn.decomposition import PCA
pcaRegression = PCA()

#scale the training and testing data
x_reduced_train = pcaRegression.fit_transform(scale(x_train))
x_reduced_test = pcaRegression.transform(scale(x_test))

#train PCR model on training data 
regr = LinearRegression()
regr.fit(x_reduced_train, y_train)

# Predict EMI on test values
y_prediction =  regr.predict(x_reduced_test)

performance_check(y_prediction)

LinearRegression()

Mean Square Error: 28975271.074672207
Mean Absolute Error: 3760.172515524841
R2 Score: 0.9990834691869686

## K Nearest Neighbors

In [32]:
#import required packages
from sklearn.preprocessing import MinMaxScaler
from sklearn import neighbors

scaler = MinMaxScaler(feature_range=(0, 1))

x_train_scaled = scaler.fit_transform(x_train)
x_train_scaled = pd.DataFrame(x_train_scaled)

x_test_scaled = scaler.fit_transform(x_test)
x_test_scaled = pd.DataFrame(x_test_scaled)

for K in range(15, 25):
    K = K+1
    model = neighbors.KNeighborsRegressor(n_neighbors = K)

    model.fit(x_train_scaled, y_train)  #fit the model
    y_prediction=model.predict(x_test_scaled) #make prediction on test set
    performance_check(y_prediction)

KNeighborsRegressor(n_neighbors=16)

Mean Square Error: 2436761470.2554708
Mean Absolute Error: 29933.593513853903
R2 Score: 0.9229216194132782

KNeighborsRegressor(n_neighbors=17)

Mean Square Error: 2283621695.052879
Mean Absolute Error: 29580.61327604089
R2 Score: 0.9277656577075939

KNeighborsRegressor(n_neighbors=18)

Mean Square Error: 2170419959.340004
Mean Absolute Error: 29187.16302826756
R2 Score: 0.9313463965590826

KNeighborsRegressor(n_neighbors=19)

Mean Square Error: 2122452412.706909
Mean Absolute Error: 28789.46705554819
R2 Score: 0.9328636812257716

KNeighborsRegressor(n_neighbors=20)

Mean Square Error: 2112031436.43301
Mean Absolute Error: 28541.885768261967
R2 Score: 0.9331933121663167

KNeighborsRegressor(n_neighbors=21)

Mean Square Error: 2149082860.903168
Mean Absolute Error: 28691.09823677582
R2 Score: 0.9320213206392628

KNeighborsRegressor(n_neighbors=22)

Mean Square Error: 2191744019.657202
Mean Absolute Error: 28596.928555072132
R2 Score: 0.9306718848939705

KNeighborsRegressor(n_neighbors=23)

Mean Square Error: 2200678710.757601
Mean Absolute Error: 28483.0776475742
R2 Score: 0.9303892673585786

KNeighborsRegressor(n_neighbors=24)

Mean Square Error: 2241878268.1490784
Mean Absolute Error: 28432.053421494544
R2 Score: 0.9290860642328775

KNeighborsRegressor(n_neighbors=25)

Mean Square Error: 2285033391.0094585
Mean Absolute Error: 28298.472846347606
R2 Score: 0.9277210036700353